.pagin {
  padding-top: 40px;
  padding-bottom: 40px;

  &_top {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    font-family: $font-mon;
    color: rgba(255, 255, 255, 0.5);

    &_top {
      justify-content: flex-end;
    }
  } 

  &__btn {
    // display: flex;
    // gap: 10px;
    // align-items: center;
    margin: 0 10px;

    &:hover {
      color: #fff;
    }
  }

  &__num {
    padding: 0 5px;

    &_active, &:hover {
      color: #fff;
    }
  }
}