.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: rgba(20, 20, 20, 0.5);
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  &.color {
    background: #000;
  }

  
  &__burger {
    background: none;
    border: none;
    outline: none;
    display: none;
    color: #fff;
    font-size: 20px;
    @include media($sm) {
      display: inline-block;
    }
  }
  
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: center;
    @include media($sm) {
      position: absolute;
      top: 100%;
      right: 0;
      min-width: 200px;
      background: rgba(20, 20, 20, 0.5);
      flex-direction: column;
      align-items: stretch;
      transform: scaleY(0);
      transform-origin: 0 0;
      transition: 0.5s;
      &.active {
        transform: scaleY(1);
      }
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.6);
    padding: 25px 0;
    margin-left: 30px;
    display: block;
    position: relative;
    transition: 0.5s;
    @include media($sm){
      margin-left: 0;
      padding: 10px 35px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  
    &::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background: #149A03;
      border-radius: 50%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: 0.5s;
      transform: scale(0);
      @include media($sm){
        margin: auto 0;
        top: 0;
        bottom: 0;
        left: 10px;
      }
  
    }
    
    &:hover, &.active  {
      color: #fff;
  
      &::after {
        transform: scale(1);
      }
    }
  }
}