.settings {
  min-height: 100vh;
  padding-top: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  &__form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 25px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    @include media($xs){
      flex-direction: column;
    }

    input {
      flex-grow: 1;
      border: none;
      outline: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;

      &::placeholder {
        color: #141414;
      }
    }
  }

  &__file {
    display: none;
  }

  &__upload {
    background: #149A03;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    text-transform: uppercase;

    span {
      display: flex;
      gap: 10px;
    }
  }

  &__img {
    max-width: 150px;
  }

  &__submit {
    border: none;
    outline: none;
    background: #149A03;
    color: inherit;
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
  }
}